body {
    height: 100%;
    margin: 0;
    /* padding: 15px; */
}

.viz-area {
    border-radius: 8px;
    /* padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    min-height: 48vh;
}

.viz-area-heatmap{
    border-radius: 8px;
    /* padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}

#viz {
    height: 100vh;
}

#pca-container {
    position: relative;
    height: 90%;
}

#selector-container {
    height: 10%;
}

.clicked-region {
  stroke: LightSalmon;
  stroke-width: 3;
}